# Preprocess Permits Data for Visualization Data Files

Create csv files for each year, count of each permit types grouped by latitude and longitude coordinates

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
permits = pd.read_csv('DOB_Permit_cleaned.csv', encoding= "ISO-8859-1")

/Applications/anaconda/envs/python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,8,9,10,15,20,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
permits.head()

,BOROUGH,Bin #,House #,Street Name,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Filing Date,Issuance Date,Expiration Date,Job Start Date,PERMIT_SI_NO,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT,NTA_NAME
0,BROOKLYN,3326733,1070,EAST 104 STREET,301064023,1,A2,Y,8230,1,...,09/16/2002,09/16/2002 12:00:00 AM,09/16/2003,07/27/2000,1238812,40.644203,-73.892264,46.0,986.0,Canarsie
1,BROOKLYN,3322563,230,HANCOCK STREET,302036375,1,A1,Y,1838,43,...,12/07/2012,12/28/2012 12:00:00 AM,11/27/2013,01/26/2006,2471045,40.682849,-73.947219,36.0,249.0,Bedford
2,MANHATTAN,1040756,504,PARK AVENUE,100209846,1,A3,NaN,1374,36,...,11/27/1991,11/27/1991 12:00:00 AM,10/01/1992,11/27/1991,191966,40.763075,-73.969695,4.0,11401.0,Upper East Side-Carnegie Hill
3,MANHATTAN,1036459,570,LEXINGTON AVENUE,101464835,1,A2,NaN,1305,60,...,03/24/1997,03/24/1997 12:00:00 AM,07/01/1997,03/24/1997,679627,40.756925,-73.972066,4.0,100.0,Turtle Bay-East Midtown
4,MANHATTAN,1015847,25,W. 32 ST.,122488478,1,A2,Y,834,26,...,03/30/2016,03/30/2016 12:00:00 AM,03/30/2017,09/21/2015,3044504,40.747535,-73.986372,4.0,76.0,Midtown-Midtown South

In [4]:
permits.columns

Index(['BOROUGH', 'Bin #', 'House #', 'Street Name', 'Job #', 'Job doc. #',
       'Job Type', 'Self_Cert', 'Block', 'Lot', 'Community Board', 'Zip Code',
       'Bldg Type', 'Residential', 'Special District 1', 'Special District 2',
       'Work Type', 'Permit Status', 'Filing Status', 'Permit Type',
       'Permit Sequence #', 'Permit Subtype', 'Oil Gas', 'Site Fill',
       'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date',
       'PERMIT_SI_NO', 'LATITUDE', 'LONGITUDE', 'COUNCIL_DISTRICT',
       'CENSUS_TRACT', 'NTA_NAME'],
      dtype='object')

In [5]:
column_names = ['BOROUGH', 'Bin #', 'House #', 'Street Name', 'Job #', 'Job doc. #',
       'Job Type', 'Self_Cert', 'Block', 'Lot', 'Community Board', 'Zip Code',
       'Bldg Type', 'Residential', 'Special District 1', 'Special District 2',
       'Work Type', 'Permit Status', 'Filing Status', 'Permit Type',
       'Permit Sequence #', 'Permit Subtype', 'Oil Gas', 'Site Fill',
       'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date',
       'PERMIT_SI_NO', 'LATITUDE', 'LONGITUDE', 'COUNCIL_DISTRICT',
       'CENSUS_TRACT', 'NTA_NAME']

Old file
column_names = ['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board',
       'Landmarked', 'City Owned', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Non-Profit', 'Job Description', 'Full Address',
       'formatted_address', 'name', 'loc_type', 'lat', 'lon', 'Zip Code']

In [6]:
permits = permits[['Job Type','Filing Date','LATITUDE', 'LONGITUDE', 'Zip Code']]

In [7]:
permits.columns

Index(['Job Type', 'Filing Date', 'LATITUDE', 'LONGITUDE', 'Zip Code'], dtype='object')

In [8]:
type(permits["Filing Date"][0])

str

In [9]:
permits['date'] = pd.to_datetime(permits["Filing Date"])

In [10]:
permits['year'] = permits['date'].dt.year

In [11]:
permits.groupby('year').year.count()

year
1989      3061
1990     23764
1991     45838
1992     52598
1993     58067
1994     60854
1995     63323
1996     67660
1997     71903
1998     82860
1999     92236
2000    101540
2001    106225
2002    113572
2003    124076
2004    138799
2005    151005
2006    156591
2007    159860
2008    151917
2009    136495
2010    137018
2011    144472
2012    149514
2013    162037
2014    171738
2015    183527
2016    192048
2017    178203
Name: year, dtype: int64

In [24]:
# From above, full year from 2005 to 2016

In [12]:
permits = permits[permits['year'] >=2005]

In [20]:
permits.groupby('Job Type').year.count()

Job Type
10          1
20          1
30          1
41          1
50          1
A1     206432
A2    1228650
A3     261246
DM      52011
NB     283893
SG      42188
Name: year, dtype: int64

In [22]:
permits = permits[(permits['Job Type'] == 'A1') | 
                  (permits['Job Type'] == 'A2') | 
                  (permits['Job Type'] == 'DM') | 
                  (permits['Job Type'] == 'NB')]

In [23]:
permits_count = permits.groupby(['year','Job Type', 'Zip Code', 'LATITUDE','LONGITUDE'])['date'].count().reset_index()

In [24]:
permits_count.head()

   year Job Type  Zip Code   LATITUDE  LONGITUDE  date
0  2005       A1   10001.0  40.743918 -73.987867     3
1  2005       A1   10001.0  40.744802 -73.993302     1
2  2005       A1   10001.0  40.744805 -73.993352     1
3  2005       A1   10001.0  40.745060 -73.992053     1
4  2005       A1   10001.0  40.745112 -73.994919     1

In [25]:
permits_count.rename(columns={'date': 'num_permits'}, inplace=True)

In [26]:
permits_count.head()

   year Job Type  Zip Code   LATITUDE  LONGITUDE  num_permits
0  2005       A1   10001.0  40.743918 -73.987867            3
1  2005       A1   10001.0  40.744802 -73.993302            1
2  2005       A1   10001.0  40.744805 -73.993352            1
3  2005       A1   10001.0  40.745060 -73.992053            1
4  2005       A1   10001.0  40.745112 -73.994919            1

In [27]:
permits_count.rename(columns={'Job Type': 'job_type', 'Zip Code': 'zipcode'}, inplace=True)

In [28]:
# 2017 not included since not full annual data
permits2005 = permits_count[permits_count.year == 2005]
permits2006 = permits_count[permits_count.year == 2006]
permits2007 = permits_count[permits_count.year == 2007]
permits2008 = permits_count[permits_count.year == 2008]
permits2009 = permits_count[permits_count.year == 2009]
permits2010 = permits_count[permits_count.year == 2010]
permits2011 = permits_count[permits_count.year == 2011]
permits2012 = permits_count[permits_count.year == 2012]
permits2013 = permits_count[permits_count.year == 2013]
permits2014 = permits_count[permits_count.year == 2014]
permits2015 = permits_count[permits_count.year == 2015]
permits2016 = permits_count[permits_count.year == 2016]
permits2017 = permits_count[permits_count.year == 2017]

In [29]:
permits2005.to_csv("permits2005.csv")
permits2006.to_csv("permits2006.csv")
permits2007.to_csv("permits2007.csv")
permits2008.to_csv("permits2008.csv")
permits2009.to_csv("permits2009.csv")
permits2010.to_csv("permits2010.csv")
permits2011.to_csv("permits2011.csv")
permits2012.to_csv("permits2012.csv")
permits2013.to_csv("permits2013.csv")
permits2014.to_csv("permits2014.csv")
permits2015.to_csv("permits2015.csv")
permits2016.to_csv("permits2016.csv")
permits2017.to_csv("permits2017.csv")